// ============================================================================================= //
//                                           VARIABLES                                           //
// ============================================================================================= //

$primary: #fffc00;
$primary-rgb: rgb(255, 252, 0);

// ------------------------------------------------------------------------- //
// PROPERTY VALUES
// ------------------------------------------------------------------------- //

$property-values: (
    primary: $primary,
    primary-rgb: $primary-rgb
);
