// ============================================================================================= //
//                                           VARIABLES                                           //
// ============================================================================================= //

// Facebook

$facebook: #1877f2;

// Google

$google: #4285f4;
$google-2: #34a853;
$google-3: #fbbc05;
$google-4: #ea4335;
