// ============================================================================================= //
//                                           VARIABLES                                           //
// ============================================================================================= //

$primary: #25D366;
$primary-rgb: rgb(37, 211, 102);

// ------------------------------------------------------------------------- //
// PROPERTY VALUES
// ------------------------------------------------------------------------- //

$property-values: (
    primary: $primary,
    primary-rgb: $primary-rgb
);
