// ============================================================================================= //
//                                           VARIABLES                                           //
// ============================================================================================= //

@use "sass:color";
@use "@brandcolors/core/variables";

$primary: variables.$google;
$primary-rgb: rgb(color.red($primary), color.green($primary), color.blue($primary));

$blue: variables.$google;
$green: variables.$google-2;
$yellow: variables.$google-3;
$red: variables.$google-4;

// ------------------------------------------------------------------------- //
// PROPERTY VALUES
// ------------------------------------------------------------------------- //

$property-values: (
    primary: $primary,
    primary-rgb: $primary-rgb,
    blue: $blue,
    green: $green,
    yellow: $yellow,
    red: $red
);
