// ============================================================================================= //
//                                           VARIABLES                                           //
// ============================================================================================= //

$primary: #4285f4;
$primary-rgb: rgb(66, 133, 244);

$blue: $primary;
$green: #0f9d58;
$yellow: #f4b400;
$red: #db4437;

// ------------------------------------------------------------------------- //
// PROPERTY VALUES
// ------------------------------------------------------------------------- //

$property-values: (
    primary: $primary,
    primary-rgb: $primary-rgb,
    blue: $blue,
    green: $green,
    yellow: $yellow,
    red: $red
);
