// ============================================================================================= //
//                                           VARIABLES                                           //
// ============================================================================================= //

$primary: #0a66c2;
$primary-rgb: rgb(10, 102, 194);

// ------------------------------------------------------------------------- //
// PROPERTY VALUES
// ------------------------------------------------------------------------- //

$property-values: (
    primary: $primary,
    primary-rgb: $primary-rgb
);
