// ============================================================================================= //
//                                           VARIABLES                                           //
// ============================================================================================= //

@use "sass:color";
@use "@brandcolors/brandcolors/variables";

$primary: variables.$facebook;
$primary-rgb: rgb(color.red($primary), color.green($primary), color.blue($primary));

// ------------------------------------------------------------------------- //
// PROPERTY VALUES
// ------------------------------------------------------------------------- //

$property-values: (
    primary: $primary,
    primary-rgb: $primary-rgb
);
