// ============================================================================================= //
//                                           VARIABLES                                           //
// ============================================================================================= //

// Source: https://press.vimeo.com/brand-guidelines

$blue: $primary;
$dark-forest: #162221;

$primary: #1ab7ea;
$primary-rgb: rgb(26, 183, 234);

// ------------------------------------------------------------------------- //
// PROPERTY VALUES
// ------------------------------------------------------------------------- //

$property-values: (
    blue: $blue,
    dark-forest: $dark-forest,
    primary: $primary,
    primary-rgb: $primary-rgb
);
