// ============================================================================================= //
//                                           VARIABLES                                           //
// ============================================================================================= //

$primary: #1d9bf0;
$primary-rgb: rgb(29, 155, 240);

// ------------------------------------------------------------------------- //
// PROPERTY VALUES
// ------------------------------------------------------------------------- //

$property-values: (
    primary: $primary,
    primary-rgb: $primary-rgb
);
