// ============================================================================================= //
//                                           VARIABLES                                           //
// ============================================================================================= //

$primary: #1da1f2;
$primary-rgb: rgb(29, 161, 242);

// ------------------------------------------------------------------------- //
// PROPERTY VALUES
// ------------------------------------------------------------------------- //

$property-values: (
    primary: $primary,
    primary-rgb: $primary-rgb
);
